@use "../Global/" as *;
.c-scrolldown{
  position:absolute;
  bottom:10px;
  left:50%;
&:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:-4px;
    /*丸の形状*/
  width:10px;
  height:10px;
  border-radius: 50%;
  background:#eee;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation:
    circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}
/* 線の描写 */
&:after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    width:2px;
    height: 50px;
    background:#eee;
  }
}
@keyframes circlemove{
      0%{bottom:45px;}
     100%{bottom:-5px;}
 }

@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
  100%{opacity:0;}
 }

 .c-scrolldown__text{
  position: absolute;
  left:10px;
  bottom:10px;
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  writing-mode: vertical-rl;
}

