@use "../Global/" as *;

.c-heading {
  font-family: $font-family-deco;
  font-size: rem(64);
  font-weight: 400;
  line-height: 118.4px;
  color: var(--pink);
  text-align: center;

  @include MQ("md") {
    font-size: rem(48);
    line-height: 88.8px;
  }
}
