<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>白金台にある癒しのエステサロン ビューティフルデイズ</title>
    <meta name="description" content="白金台にある癒しのプライベート空間。エステサロンビューティフルデイズは、がんばるあなたがちょっと疲れた時に立ち寄れるほっとする時間をつくります。">

    <meta property="og:url" content="#">
    <meta property="og:title" content="白金台にある癒しのエステサロン ビューティフルデイズ">
    <meta property="og:type" content="website">
    <meta property="og:description" content="白金台にある癒しのプライベート空間。エステサロンビューティフルデイズは、がんばるあなたがちょっと疲れた時に立ち寄れるほっとする時間をつくります。">
    <meta property="og:image" content="#">
    <meta property="og:site_name" content="白金台にある癒しのエステサロン ビューティフルデイズ">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@beautiful_days">
    <meta name="twitter:title" content="白金台にある癒しのエステサロン ビューティフルデイズ">
    <meta name="twitter:description" content="白金台にある癒しのプライベート空間。エステサロンビューティフルデイズは、がんばるあなたがちょっと疲れた時に立ち寄れるほっとする時間をつくります。">

    <link rel="stylesheet" href="assets/css/style.css">
    <script type="text/javascript" src="assets/js/script.js"></script>
</head>

<body class="l-body">
    <header class="l-header">
        <div class="l-header__hamburger">
            <span class="l-header__hamburger__top"></span>
            <span class="l-header__hamburger__bottom"></span>
        </div>

        <nav class="l-header__nav js-header__nav">
            <ul class="l-header__nav__list">
                <li class="l-header__nav__item u-Parisienne">Beautiful Days</li>
                <li class="l-header__nav__item"><a href="#top">TOP</a></li>
                <li class="l-header__nav__item"><a href="#about">ABOUT</a></li>
                <li class="l-header__nav__item"><a href="#menu">MENU</a></li>
                <li class="l-header__nav__item"><a href="#contact">CONTACT</a></li>
                <li class="l-header__nav__item"><a href="#blog">BLOG</a></li>
            </ul>
        </nav>
    </header>

    <main class="l-contents">
        <div class="l-contents__inner">

            <section class="p-kv" id="top">
                <h1 class="p-kv__title">
                    <span class="p-kv__tittle__text__sub">白金台にある癒しのエステサロン</span>
                    <span class="p-kv__tittle__text__main u-Parisienne">Beautiful Days</span>
                </h1>
            </section>

            <section class="l-section p-about" id="about">
                <h2 class="c-title">白金台にある<br>癒しのプライベート空間</h2>
                <div class="c-button__wrap">
                    <a href="#" class="c-button">お店のご紹介</a>
                </div>
            </section>

            <section class="l-section p-menu" id="menu">
                <h2 class="c-title__eg u-Parisienne">Menu</h2>
                <div class="c-button__wrap">
                    <a href="#" class="c-button">メニュー一覧を見る</a>
                </div>
            </section>

            <section class="l-section p-contact" id="contact">
                <h2 class="c-title">ご予約方法</h2>
                <div class="c-button__wrap">
                    <a href="#" class="c-button">お問い合わせ</a>
                </div>
            </section>

            <section class="l-section p-blog" id="blog">
                <h2 class="c-title__eg u-Parisienne">Blog</h2>
            </section>

        </div><!-- /l-contents__inner -->
    </main>

    <footer class="l-footer">
        <div class="l-footer__inner">
            <div class="l-footer__text">
                <p class="l-footer__text__sub">白金台にある癒しのエステサロン</p>
                <p class="l-footer__text__main u-Parisienne">Beautiful Days</span>
            </div>
            <div class="l-footer__menu">
                <ul class="l-footer__menu__list">
                    <li class="l-footer__menu__item"><a href="#top">Top</a></li>
                    <li class="l-footer__menu__item"><a href="#about">About</a></li>
                    <li class="l-footer__menu__item"><a href="#menu">Menu</a</li>
                    <li class="l-footer__menu__item"><a href="#contact">Contact</a></li>
                    <li class="l-footer__menu__item"><a href="#blog">Blog</a></li>
                </ul>
            </div>
        </div>
        <p class="l-footer__Copywriter">&copy; Beautiful Days</p>
    </footer>
    
</body>
</html>