@use "../Global/" as *;
.c-btn__common {
    border: 1px solid #ccc;
    width: 250px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    outline: none;
    /*はみ出す背景色を隠す*/
 	overflow: hidden;
    &:hover {
        color:#fff;
        border-color: transparent;
        /*色の変化を遅らせる*/
        transition-delay: .6s;
    }
     span {
        display: block;
        z-index: 2;
    }
     a {
        padding: 12px;
        display: block;
     }
    @include MQ(md) {
        width: 176px;
    }
}

/*線の設定*/
.c-btn__bg span::before,
.c-btn__bg span::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    width:1px;
    height: 0;
    /*線の形状*/
    background: #E2A2B1;
    /*アニメーションの設定*/
	transition: all .3s;
}
.c-btn__bg span {
    &::before {
        left:0;
        top:0;
    }
    &::after {
        right:0;
        top:0;
    }
}

.c-btn__bg:hover span::before,
.c-btn__bg:hover span::after {
    height: 100%;
}


.c-btn__bg {
    &::before {
        content: '';
        /*絶対配置で線の位置を決める*/
        position: absolute;
        left: 0;
        top:0;
        z-index: -1;
        /*背景の形状*/
        width: 100%;
        height: 0;
        background:#E2A2B1;
        /*アニメーションの設定*/
        transition: all .3s;
    }
    &:hover::before{
        height: 100%;
        /*0.4秒遅れてアニメーション*/
        transition-delay: .4s;
    }
}
