@use "../Global/" as *;
.c-ttl__color {
    color: #E2A2B1;
    font-size: 48px;
    font-family: 'Parisienne', cursive;
    @include MQ(md) {
        font-size: 64px;
    }
}

.c-ttl__normal {
    font-size: 22.4px;
    font-weight: bold;
}