@use "../Global/" as *;

.p-blog {
  @include MQ("md") {
    padding-top: 68.8px;
  }
}

.p-blog__inner {
  display: flex;
  column-gap: 2%;
  margin-top: 50px;

  @include MQ("md") {
    flex-direction: column;
    row-gap: 21px;
  }
}

.p-blog__left {
  width: 30%;

  @include MQ("md") {
    width: 100%;
  }

  .p-blog__content {
    height: 100%;

    @include MQ("xl") {
      height: 65.45%;
    }
  }
}

.p-blog__right {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3%;
  row-gap: 5%;
  width: 68%;

  @include MQ("xl") {
    row-gap: 4%;
    height: 100%;
  }

  @include MQ("md") {
    width: 100%;
    row-gap: 21px;
  }

  @include MQ("sm") {
    flex-direction: column;
  }

  .p-blog__content {
    height: 47.5%;

    @include MQ("xl") {
      aspect-ratio: 3/2;
    }

    &:not(:first-child):not(:nth-child(2)) {
      @include MQ("xl") {
        margin-top: 4%;
      }

      @include MQ("md") {
        margin-top: 0;
      }
    }
  }
}

.p-blog__content {
  position: relative;
  overflow: hidden;

  &.--large {
    width: 42%;

    @include MQ("xl") {
      width: 48.5%;
    }

    @include MQ("sm") {
      width: 100%;
    }
  }

  &.--medium {
    width: 32%;

    @include MQ("xl") {
      width: 48.5%;
    }

    @include MQ("sm") {
      width: 100%;
    }
  }

  &.--small {
    width: 20%;

    @include MQ("xl") {
      width: 48.5%;
    }

    @include MQ("sm") {
      width: 100%;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--pink);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: bottom 0.4s ease;
  }

  @include hover {
    &::after {
      bottom: 0;
    }

    .p-blog__main {
      opacity: 1;
      visibility: visible;
    }
  }
}

.p-blog__container {
}

.p-blog__main {
  width: 100%;
  max-width: 204px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease;
}

.p-blog__title {
  color: var(--white);
  font-size: rem(16);
  line-height: 29.6px;
  letter-spacing: 3.2px;
  text-align: center;
}

.p-blog__text {
  color: var(--white);
  font-size: rem(14.4);
  line-height: 26.6px;
  letter-spacing: 3.2px;
}

.p-blog__link {
  color: var(--white);
  font-size: rem(14.4);
  line-height: 26.6px;
  letter-spacing: 3.2px;
  white-space: nowrap;
  padding: 5px 10px;
  border: 1px solid var(--white);
}

.p-blog__thumb {
  width: 100%;
  height: 100%;
}

.p-blog__image {
  display: block;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
}

.p-blog__date {
  font-size: rem(12.8);
  line-height: 23.7px;
  letter-spacing: 3.2px;
  color: var(--white);
  text-align: center;
  background-color: var(--pink-light);
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
