@use "../Global/" as *;

.p-contact {
  padding-top: 78.5px;

  @include MQ("md") {
    padding-top: 108px;
  }
}

.p-contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 89px;

  @include MQ("xl") {
    column-gap: 40px;
  }

  @include MQ("md") {
    flex-direction: column-reverse;
  }
}

.p-contact__image {
  width: 70%;
  max-width: 1246px;
  height: 300px;

  @include MQ("xl") {
    width: 60%;
  }

  @include MQ("md") {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.p-contact__content {
  width: calc(30% - 89px);
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @include MQ("xl") {
    width: calc(40% - 40px);
  }

  @include MQ("md") {
    width: 100%;
  }
}

.p-contact__top {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.p-contact__main {
  font-size: rem(22.4);
  font-weight: 700;
  line-height: 41.4px;
  letter-spacing: 3.2px;

  @include MQ("md") {
    font-size: rem(20.8);
    line-height: 38.5px;
  }
}

.p-contact__text {
  font-size: rem(19.2);
  font-weight: 400;
  line-height: 35.5px;
  letter-spacing: 3.2px;
}

.p-contact__text--link {
  padding-left: 8px;
}

.p-contact__time {
  font-size: rem(12.8);
  line-height: 23.7px;
  letter-spacing: 3.2px;
}
