@use "../Global/" as *;

.p-menu {
  @include MQ("md") {
    padding-top: 102px;
  }
}

.p-menu__container {
  margin-top: 50px;
  position: relative;
}

.p-menu__button {
  margin-top: 111px;

  @include MQ("md") {
    margin-top: 50px;
  }
}

.p-menu__link {
  @include hover {
    .p-menu__image {
      &::before {
        animation: circleIn 1s ease forwards;
      }
    }
  }
}

.p-menu__card {
  box-shadow: 5px 0 10px #ccc;
}

.p-menu__image {
  display: block;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

.p-menu__content {
  padding: 20px;
}

.p-menu__title {
  font-size: rem(12.8);
  line-height: 23.7px;
  letter-spacing: 3.2px;
}

.p-menu__text {
  font-size: rem(14.4);
  line-height: 26.6px;
  letter-spacing: 3.2px;
}

.swiper-button-prev {
  left: -30px !important;
}

.swiper-button-next {
  right: -30px !important;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background: var(--black-4) !important;
}

.swiper-pagination-bullet-active {
  background: var(--pink) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  color: #999999;
}

@keyframes circleIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    transform-origin: center;
  }
}
