@charset "UTF-8";
/* Foundation
  ------------------------------------------------*/
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

:root {
  --ratio: 1.5;
  --s-3: calc(var(--s0) * 0.6875);
  --s-2: calc(var(--s0) * 0.75);
  --s-1: calc(var(--s0) * 0.875);
  --s0: 1rem;
  --s1: calc(var(--s0) * 1.25);
  --s2: calc(var(--s0) * var(--ratio));
  --s3: calc(var(--s0) * 2);
  --s4: calc(var(--s0) * 2.5);
  --s5: calc(var(--s2) * var(--ratio) * var(--ratio));
  --s8: calc(var(--s0) * 5);
  --s12: calc(var(--s0) * 8);
  --s12: calc(var(--s0) * 10);
  --font-size-smallest: var(--s-3);
  --font-size-small: var(--s-2);
  --font-size-smallish: var(--s-1);
  --font-size-base: var(--s0);
  --font-size-biggish: var(--s1);
  --font-size-biggest: var(--s2);
  --font-size-strong: var(--s3);
  --font-size-strongish: var(--s4);
  --font-size-strongest: var(--s5);
  --font-size-fv: var(--s8);
  --font-size-deco: var(--s12);
  --font-size-deco-big: var(--s16);
}

:root {
  --white: #ffffff;
  --black: #333333;
  --black-dark: #555555;
  --black-dark2: #2d2d2d;
  --blue: #1365e0;
  --blue-dark: #0040a0;
  --blue-light: #e6f0ff;
  --blue-light2: #F8F9FA;
  --yellow: #f4b103;
  --pink: #E2A2B1;
}

/* base default*/
@font-face {
  src: url("../../assets/fonts/NotoSansJP-Regular.woff2") format("woff2");
  font-family: "Noto Sans JP";
  font-weight: 500;
  font-display: swap;
}
@font-face {
  src: url("../../assets/fonts/NotoSansJP-Bold.woff2") format("woff2");
  font-family: "Noto Sans JP";
  font-weight: bold;
  font-display: swap;
}
@font-face {
  src: url("../../assets/fonts/NotoSansJP-Black.woff2") format("woff2");
  font-family: "Noto Sans JP";
  font-weight: 900;
  font-display: swap;
}
@font-face {
  src: url("../../assets/fonts/WorkSans-Black.woff") format("woff");
  font-family: "Work Sans";
  font-weight: 900;
  font-display: swap;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 10rem;
}

html {
  font-size: 16px;
  font-family: "Noto Sans JP", serif;
  font-weight: 500;
}

body {
  overflow-x: hidden;
  background-color: var(--blue-light2);
  color: var(--black-dark);
}

main {
  margin-top: 95px;
}
@media screen and (max-width: 768px) {
  main {
    margin-top: 75px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  letter-spacing: 0.08em;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

*[lang=en] {
  font-weight: 400;
  font-style: normal;
}

address {
  font-style: normal;
}

img {
  vertical-align: top;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=tel]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
  outline: solid 2px var(--blue);
}

input[type=checkbox],
input[type=radio] {
  width: 16px;
  height: 16px;
}

input[type=radio] {
  -webkit-appearance: none;
  border-radius: 50%;
  border: 1px solid var(--blue);
}
input[type=radio]::before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type=radio]:checked:before {
  background: var(--blue);
}

input[type=checkbox]:not(:checked) {
  -webkit-appearance: none;
  border-radius: 3px;
  border: 1px solid var(--blue);
}

.pc-only {
  display: block;
}
@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}
@media screen and (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

/* Layout (prefix: l-)
    ------------------------------------------------*/
.l-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.l-header__input {
  display: none;
}

.l-header__label {
  position: relative;
  float: right;
  clear: both;
  z-index: 1000;
  cursor: pointer;
}

.l-header__box {
  display: inline-block;
  width: 40px;
  height: 25px;
}

.l-header__bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #666;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.l-header__bar:first-of-type {
  top: 22px;
  width: 50%;
}
.l-header__bar:last-of-type {
  top: 29px;
  width: 30%;
}

input:checked + label .l-header__box .l-header__bar:first-of-type {
  top: 20px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 35%;
}
input:checked + label .l-header__box .l-header__bar:last-of-type {
  top: 32px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 35%;
}
input:checked + label + .l-header-nav {
  position: fixed;
  z-index: 99;
  opacity: 1;
}

input:checked + label + .l-header-nav > .l-header-nav__wrap {
  right: 0;
}

.l-header-nav {
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  background-color: var(--pink);
}

.l-header-nav__wrap {
  width: 100%;
  position: absolute;
  right: -100%;
  top: 0;
  bottom: 0;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.l-header-nav__wrap.active {
  right: 0;
}

.l-header-nav__logo {
  font-family: "Parisienne", cursive;
  font-size: 2rem;
  color: var(--white);
  text-shadow: 0 0 3px var(--white);
  font-weight: normal;
}

.l-header-nav__item {
  text-align: center;
}

.l-header-nav__link {
  font-size: 1.2rem;
  padding: 10px;
  color: var(--white);
  text-decoration: none;
  display: block;
}
@media (hover: hover) and (pointer: fine) {
  .l-header-nav__link:hover {
    opacity: 0.5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.l-header-nav__link--uppercase-letter {
  text-transform: uppercase;
}

.l-footer {
  padding: 70px;
  color: #555;
  border-top: 1px solid #ccc;
}
@media screen and (max-width: 768px) {
  .l-footer {
    padding: 80px 20px 20px;
  }
}

.l-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .l-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-footer__title {
  font-family: "Parisienne", cursive;
  font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
  .l-footer__title {
    text-align: center;
  }
}
.l-footer__title small {
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.1em;
  font-size: 1.1rem;
}

.l-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.l-footer__copywriter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .l-footer__copywriter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.l-contents {
  margin: 0;
  padding: 140px 0 0;
}
@media screen and (max-width: 768px) {
  .l-contents {
    padding: 110px 0 0;
  }
}

.l-section {
  margin: 0 0 162px;
}

.l-section__inner {
  padding: 0 4%;
}

/* Component (prefix: c-)
    ------------------------------------------------*/
.c-heading {
  font-family: "Parisienne", cursive;
  font-size: 6.4rem;
  color: var(--pink);
  font-weight: normal;
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .c-heading {
    font-size: 4.8rem;
    margin-bottom: 40px;
  }
}

.c-button {
  position: relative;
  display: inline-block;
  width: 176px;
  height: 50px;
  color: var(--black);
  border: 1px solid #ccc;
  text-decoration: none;
  outline: none;
  overflow: hidden;
}
.c-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 0;
  background-color: var(--pink);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  .c-button:hover::before {
    height: 100%;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .c-button:hover .c-button__text::before {
    height: 100%;
  }
  .c-button:hover .c-button__text::after {
    height: 100%;
  }
}
@media (hover: hover) and (pointer: fine) {
  .c-button:hover {
    color: var(--white);
    border-color: transparent;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
}
.c-button .c-button__text {
  display: block;
  text-align: center;
  width: auto;
  position: relative;
  z-index: 2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-button .c-button__text::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 0;
  background-color: var(--pink);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  top: 0;
}
.c-button .c-button__text::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 0;
  background-color: var(--pink);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  right: 0;
  top: 0;
}

.c-scrolldown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  /* 線の描写 */
}
.c-scrolldown:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #eee;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  -webkit-animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
          animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
}
.c-scrolldown:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 50px;
  background: #eee;
}

@-webkit-keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}

@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}
@-webkit-keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.c-scrolldown__text {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

/* JavaScript (prefix: js- or [data-js])
  ------------------------------------------------*/
.js-scroll-top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: var(--pink);
  width: 60px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (hover: hover) and (pointer: fine) {
  .js-scroll-top:hover {
    cursor: pointer;
    opacity: 0.7;
    background-color: #999;
    width: 60px;
    height: 55px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.is-hide {
  pointer-events: none;
}

.js-scroll-top__icon {
  display: inline-block;
  vertical-align: text-top;
  color: var(--white);
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 4px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(25%) rotate(-45deg);
          transform: translateY(25%) rotate(-45deg);
}

/* Project (prefix: p-)
    ------------------------------------------------*/
.p-hero {
  position: relative; /*重要*/
  width: 100%;
  height: 100vh;
  background-image: url("../img/hero_pc.jpg");
  background-position: bottom;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .p-hero {
    background-image: url("../img/hero_sp.jpg");
    background-position: center;
  }
}

.p-hero__title {
  font-size: 6.5rem;
  font-family: "Parisienne", cursive;
  font-weight: normal;
  color: var(--white);
  text-shadow: 0 0 15px var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
@media screen and (max-width: 768px) {
  .p-hero__title {
    font-size: 4rem;
    line-height: 1.2;
    white-space: pre-line;
  }
}

.p-hero__title--small {
  font-family: "Noto Serif JP", serif;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.58em;
  margin-bottom: 20px;
}

.p-card {
  display: grid;
  width: 100%;
  grid-template-columns: 2.5fr 1.5fr 0.5fr 0.5fr 0.5fr 1.5fr; /*列トラックを4列表示させる*/
  grid-template-rows: 1fr 1fr; /*一行目のトラックを「1fr」二行目のトラックを「1fr」にしてい*/
  gap: 32px;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 768px) {
  .p-card {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.p-card__item {
  position: relative;
  overflow: hidden; /* 画像がはみ出ないようにする */
}
@media (hover: hover) and (pointer: fine) {
  .p-card__item:hover .p-card__box {
    bottom: 0;
    height: 100%;
    cursor: pointer;
  }
}

.p-card__item__1 {
  grid-row: 1/3;
  grid-column: 1/2;
}
@media screen and (max-width: 768px) {
  .p-card__item__1 {
    grid-column: 1;
    grid-row: auto;
  }
}

.p-card__item__2 {
  grid-row: 1/2;
  grid-column: 2/4;
}
@media screen and (max-width: 768px) {
  .p-card__item__2 {
    grid-column: 1;
    grid-row: auto;
  }
}

.p-card__item__3 {
  grid-row: 1/2;
  grid-column: 4/6;
}
@media screen and (max-width: 768px) {
  .p-card__item__3 {
    grid-column: 1;
    grid-row: auto;
  }
}

.p-card__item__4 {
  grid-row: 1/2;
  grid-column: 6/7;
}
@media screen and (max-width: 768px) {
  .p-card__item__4 {
    grid-column: 1;
    grid-row: auto;
  }
}

.p-card__item__5 {
  grid-row: 2/3;
  grid-column: 2/3;
}
@media screen and (max-width: 768px) {
  .p-card__item__5 {
    grid-column: 1;
    grid-row: auto;
  }
}

.p-card__item__6 {
  grid-row: 2/3;
  grid-column: 3/5;
}
@media screen and (max-width: 768px) {
  .p-card__item__6 {
    grid-column: 1;
    grid-row: auto;
  }
}

.p-card__item__7 {
  grid-row: 2/3;
  grid-column: 5/7;
}
@media screen and (max-width: 768px) {
  .p-card__item__7 {
    grid-column: 1;
    grid-row: auto;
  }
}

.p-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-card__time {
  background-color: var(--pink);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 48px;
  font-weight: 500;
}

.p-card__box {
  position: absolute;
  bottom: -200%;
  width: 100%;
  height: 100%;
  height: auto; /* テキストが中央に配置されるようにする */
  background-color: var(--pink);
  color: white;
  padding: 10px;
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.p-card__box__heading {
  text-align: center;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.4rem;
}

.p-card__box__text {
  width: 50%;
  margin: 0 auto;
  font-weight: 500;
}

.p-card__box__link {
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 8px;
  font-weight: 500;
}

/* ページネーションのスタイル */
.your-class-page {
  height: 10px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 10px;
}

/* 現在表示されているページネーションのスタイル */
.your-class-page.is-active {
  background-color: var(--pink);
  opacity: 1;
}

/* ページネーションの位置 */
.your-class-pagination {
  bottom: 1.5em;
}

/* ページネーション間の余白 */
.your-class-pagination .p-slide__item {
  margin-left: 4px;
  margin-right: 4px;
}

.splide {
  width: 90%;
  margin: 0 auto;
}

/* スライドのサイズ調整 */
.splide__slide img {
  height: auto;
  width: 100%;
}

.splide__pagination {
  position: relative;
  top: 20px;
}
@media screen and (max-width: 768px) {
  .splide__pagination {
    top: 30px;
  }
}

.splide__arrow--prev {
  left: -3em;
}
@media screen and (max-width: 768px) {
  .splide__arrow--prev {
    left: -2em;
    top: 10em;
  }
}

.splide__arrow--next {
  right: -3em;
}
@media screen and (max-width: 768px) {
  .splide__arrow--next {
    right: -2em;
    top: 10em;
  }
}

.splide__arrow {
  background: none;
}

.p-flex {
  margin: 0 0 162px;
  font-family: "Noto Serif JP", serif;
}

.p-flex__inner {
  padding: 0 4%;
}

.p-flex__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 36px;
}
@media screen and (max-width: 768px) {
  .p-flex__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-flex__box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.p-flex__box--text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .p-flex__box--text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.p-flex__heading {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .p-flex__heading {
    font-size: 1.5rem;
  }
}

.p-flex__heading__span {
  display: block;
}

.p-flex__text {
  margin-bottom: 90px;
  line-height: 2;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .p-flex__text {
    margin-bottom: 50px;
  }
}

.p-flex__box--image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media screen and (max-width: 768px) {
  .p-flex__box--image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.p-flex__image {
  width: 100%;
  display: block;
}

.p-flex-reverse {
  margin: 0 0 162px;
  font-family: "Noto Serif JP", serif;
}

.p-flex-reverse__inner {
  padding: 0 4%;
}

.p-flex-reverse__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}
@media screen and (max-width: 768px) {
  .p-flex-reverse__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
}

.p-flex-reverse__box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.p-flex-reverse__box--text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .p-flex-reverse__box--text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.p-flex-reverse__heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .p-flex-reverse__heading {
    font-size: 1.5rem;
  }
}

.p-flex-reverse__address {
  margin-bottom: 12px;
}

.p-flex-reverse__tel {
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.p-flex-reverse__text {
  margin-bottom: 40px;
  line-height: 2;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 4px;
}
@media screen and (max-width: 768px) {
  .p-flex-reverse__text {
    margin-bottom: 50px;
  }
}

.p-flex-reverse__box--image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
@media screen and (max-width: 768px) {
  .p-flex-reverse__box--image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.p-flex-reverse__image {
  width: 100%;
  display: block;
}

.p-slide__heading {
  font-size: 2rem;
  color: #555;
}

.p-slide__text-box {
  background: var(--white);
  padding: 20PX;
  -webkit-box-shadow: 5px 4px 10px 0px #cccccc;
          box-shadow: 5px 4px 10px 0px #cccccc;
  min-height: 130px;
}

.p-slide__button {
  display: block;
  margin: 80px auto 0;
}

.p-slide__box {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.p-slide__box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.p-slide__box:hover::before {
  -webkit-animation: circle 0.8s;
          animation: circle 0.8s;
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 300%;
    height: 300%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 300%;
    height: 300%;
    opacity: 0;
  }
}
/* Utility (prefix: u-)
    ------------------------------------------------*/
.u-mt00 {
  margin-top: 0px !important;
}

.u-mt04 {
  margin-top: 4px !important;
}

.u-mt08 {
  margin-top: 8px !important;
}

.u-mt12 {
  margin-top: 12px !important;
}

.u-mt16 {
  margin-top: 16px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mt24 {
  margin-top: 24px !important;
}

.u-mt28 {
  margin-top: 28px !important;
}

.u-mt32 {
  margin-top: 32px !important;
}

.u-mt36 {
  margin-top: 36px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mt44 {
  margin-top: 44px !important;
}

.u-mt48 {
  margin-top: 48px !important;
}

.u-mt52 {
  margin-top: 52px !important;
}

.u-mt56 {
  margin-top: 56px !important;
}

.u-mt60 {
  margin-top: 60px !important;
}

.u-mt64 {
  margin-top: 64px !important;
}

.u-mt68 {
  margin-top: 68px !important;
}

.u-mt72 {
  margin-top: 72px !important;
}

.u-mt76 {
  margin-top: 76px !important;
}

.u-mt80 {
  margin-top: 80px !important;
}

.u-mt84 {
  margin-top: 84px !important;
}

.u-mt88 {
  margin-top: 88px !important;
}

.u-mt92 {
  margin-top: 92px !important;
}

.u-mt96 {
  margin-top: 96px !important;
}

.u-mt100 {
  margin-top: 100px !important;
}

.u-mt104 {
  margin-top: 104px !important;
}

.u-mt108 {
  margin-top: 108px !important;
}

.u-mt112 {
  margin-top: 112px !important;
}

.u-mt116 {
  margin-top: 116px !important;
}

.u-mt120 {
  margin-top: 120px !important;
}

@media screen and (max-width: 768px) {
  .u-mt_sp00 {
    margin-top: 0px !important;
  }
  .u-mt_sp04 {
    margin-top: 4px !important;
  }
  .u-mt_sp08 {
    margin-top: 8px !important;
  }
  .u-mt_sp12 {
    margin-top: 12px !important;
  }
  .u-mt_sp16 {
    margin-top: 16px !important;
  }
  .u-mt_sp20 {
    margin-top: 20px !important;
  }
  .u-mt_sp24 {
    margin-top: 24px !important;
  }
  .u-mt_sp28 {
    margin-top: 28px !important;
  }
  .u-mt_sp32 {
    margin-top: 32px !important;
  }
  .u-mt_sp36 {
    margin-top: 36px !important;
  }
  .u-mt_sp40 {
    margin-top: 40px !important;
  }
  .u-mt_sp44 {
    margin-top: 44px !important;
  }
  .u-mt_sp48 {
    margin-top: 48px !important;
  }
  .u-mt_sp52 {
    margin-top: 52px !important;
  }
  .u-mt_sp56 {
    margin-top: 56px !important;
  }
  .u-mt_sp60 {
    margin-top: 60px !important;
  }
  .u-mt_sp64 {
    margin-top: 64px !important;
  }
  .u-mt_sp68 {
    margin-top: 68px !important;
  }
  .u-mt_sp72 {
    margin-top: 72px !important;
  }
  .u-mt_sp76 {
    margin-top: 76px !important;
  }
  .u-mt_sp80 {
    margin-top: 80px !important;
  }
  .u-mt_sp84 {
    margin-top: 84px !important;
  }
  .u-mt_sp88 {
    margin-top: 88px !important;
  }
  .u-mt_sp92 {
    margin-top: 92px !important;
  }
  .u-mt_sp96 {
    margin-top: 96px !important;
  }
  .u-mt_sp100 {
    margin-top: 100px !important;
  }
  .u-mt_sp104 {
    margin-top: 104px !important;
  }
  .u-mt_sp108 {
    margin-top: 108px !important;
  }
  .u-mt_sp112 {
    margin-top: 112px !important;
  }
  .u-mt_sp116 {
    margin-top: 116px !important;
  }
  .u-mt_sp120 {
    margin-top: 120px !important;
  }
}
.u-mb00 {
  margin-bottom: 0px !important;
}

.u-mb04 {
  margin-bottom: 4px !important;
}

.u-mb08 {
  margin-bottom: 8px !important;
}

.u-mb12 {
  margin-bottom: 12px !important;
}

.u-mb16 {
  margin-bottom: 16px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-mb24 {
  margin-bottom: 24px !important;
}

.u-mb28 {
  margin-bottom: 28px !important;
}

.u-mb32 {
  margin-bottom: 32px !important;
}

.u-mb36 {
  margin-bottom: 36px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-mb44 {
  margin-bottom: 44px !important;
}

.u-mb48 {
  margin-bottom: 48px !important;
}

.u-mb52 {
  margin-bottom: 52px !important;
}

.u-mb56 {
  margin-bottom: 56px !important;
}

.u-mb60 {
  margin-bottom: 60px !important;
}

.u-mb64 {
  margin-bottom: 64px !important;
}

.u-mb68 {
  margin-bottom: 68px !important;
}

.u-mb72 {
  margin-bottom: 72px !important;
}

.u-mb76 {
  margin-bottom: 76px !important;
}

.u-mb80 {
  margin-bottom: 80px !important;
}

.u-mb84 {
  margin-bottom: 84px !important;
}

.u-mb88 {
  margin-bottom: 88px !important;
}

.u-mb92 {
  margin-bottom: 92px !important;
}

.u-mb96 {
  margin-bottom: 96px !important;
}

.u-mb100 {
  margin-bottom: 100px !important;
}

.u-mb104 {
  margin-bottom: 104px !important;
}

.u-mb108 {
  margin-bottom: 108px !important;
}

.u-mb112 {
  margin-bottom: 112px !important;
}

.u-mb116 {
  margin-bottom: 116px !important;
}

.u-mb120 {
  margin-bottom: 120px !important;
}

@media screen and (max-width: 768px) {
  .u-mb_sp00 {
    margin-bottom: 0px !important;
  }
  .u-mb_sp04 {
    margin-bottom: 4px !important;
  }
  .u-mb_sp08 {
    margin-bottom: 8px !important;
  }
  .u-mb_sp12 {
    margin-bottom: 12px !important;
  }
  .u-mb_sp16 {
    margin-bottom: 16px !important;
  }
  .u-mb_sp20 {
    margin-bottom: 20px !important;
  }
  .u-mb_sp24 {
    margin-bottom: 24px !important;
  }
  .u-mb_sp28 {
    margin-bottom: 28px !important;
  }
  .u-mb_sp32 {
    margin-bottom: 32px !important;
  }
  .u-mb_sp36 {
    margin-bottom: 36px !important;
  }
  .u-mb_sp40 {
    margin-bottom: 40px !important;
  }
  .u-mb_sp44 {
    margin-bottom: 44px !important;
  }
  .u-mb_sp48 {
    margin-bottom: 48px !important;
  }
  .u-mb_sp52 {
    margin-bottom: 52px !important;
  }
  .u-mb_sp56 {
    margin-bottom: 56px !important;
  }
  .u-mb_sp60 {
    margin-bottom: 60px !important;
  }
  .u-mb_sp64 {
    margin-bottom: 64px !important;
  }
  .u-mb_sp68 {
    margin-bottom: 68px !important;
  }
  .u-mb_sp72 {
    margin-bottom: 72px !important;
  }
  .u-mb_sp76 {
    margin-bottom: 76px !important;
  }
  .u-mb_sp80 {
    margin-bottom: 80px !important;
  }
  .u-mb_sp84 {
    margin-bottom: 84px !important;
  }
  .u-mb_sp88 {
    margin-bottom: 88px !important;
  }
  .u-mb_sp92 {
    margin-bottom: 92px !important;
  }
  .u-mb_sp96 {
    margin-bottom: 96px !important;
  }
  .u-mb_sp100 {
    margin-bottom: 100px !important;
  }
  .u-mb_sp104 {
    margin-bottom: 104px !important;
  }
  .u-mb_sp108 {
    margin-bottom: 108px !important;
  }
  .u-mb_sp112 {
    margin-bottom: 112px !important;
  }
  .u-mb_sp116 {
    margin-bottom: 116px !important;
  }
  .u-mb_sp120 {
    margin-bottom: 120px !important;
  }
}
.u-height-full {
  height: 100%;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-centerposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.u-normal {
  font-weight: normal;
}

.u-bold {
  font-weight: bold;
}

.u-color\:white {
  color: #fff;
}

.u-block {
  display: block;
}

.u-left {
  text-align: left;
}

.u-center {
  text-align: center;
}

.u-fixed {
  position: fixed;
}

.u-font-size\:smallish {
  font-size: var(--font-size-smallish);
}

.u-font-size\:biggish {
  font-size: var(--font-size-biggish);
}

.u-font-size\:big {
  font-size: var(--font-size-big);
}

.u-pc {
  display: block !important;
}
@media screen and (max-width: 768px) {
  .u-pc {
    display: none !important;
  }
}

.u-sp {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .u-sp {
    display: block !important;
  }
}/*# sourceMappingURL=style.css.map */