@use '../Global/' as *;

.l-contents{
    width: 100%;
    background-color: var(--lightgray);
}

.l-contents__inner{
    max-width: 1100px;
    margin: 0 auto;
}

@include MQ("md"){
    .l-contents__inner{
        padding: 0 16px;
    }
}