@use "../Global/" as *;
.p-blog__item {
    width: 330px;
    position: relative;
    margin-top: 20px;
}
.p-blog__item-img {
    width: 330px;

}
.p-blog__item-date {
    position: absolute;
    bottom: 0;
    background-color: rgba(226,162,178,0.8);
    color: #fff;
    text-align: center;
    width: 330px;
    height: 44px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}