@use "../Global/" as *;

.p-menu__slider {
    margin-top: 50px;
    padding: 0 10px 5px!important;
}

.p-menu__slider--item {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.p-menu__item--img {
    width: 100%;
}

.p-menu__item--txt {
    padding: 20px;
    box-shadow: 3px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

.p-menu__item--ttl {
    font-size: 14.4px;
}

.p-menu__item--price {
    font-size: 12.8px;
    margin-top: 10px;
}

.p-menu__inner {
    position: relative;
    .p-menu__prev {
        top: 65%!important;
        left: 0px!important;
        color: #999;
        &::after {
            font-size: 30px;
        }
    }
    .p-menu__next {
        top: 65%!important;
        right: 0px!important;
        color: #999;
        &::after {
            font-size: 30px;
        }
    }
    .p-menu__pagination{
        bottom: -30px!important;
    }
}

.swiper-pagination-bullet-active {
    background-color: #E2A2B1!important;
}

.p-menu__btn {
    margin-top: 70px;
}