@use "../Global/" as *;

.l-header {
    position: relative;
}

.l-header__image {
    position: relative;

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

.l-header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.l-header__title-sub {
    font-size: myClamp(13, 25);
    color: #ffffff;
    text-align: center;
}

.l-header__title-main {
    font-size: myClamp(64, 115);
    color: #ffffff;
    font-family: $font-family-parisienne;
    font-weight: 400;
    text-align: center;
}

.l-header__button {
    position: fixed;
    top: 47px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 4;

    &::before,
    &::after {
        content: "";
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 14px;
        height: 3px;
        background: #666666;
        transition: all 0.4s;
    }

    &::before {
        top: 22px;
        width: 50%;
    }

    &::after {
        top: 29px;
        width: 30%;
    }
}

.js-sample__header-button-active {
    &::before {
        top: 20px;
        left: 16px;
        transform: translateY(6px) rotate(-45deg);
        width: 35%;
    }

    &::after {
        top: 32px;
        left: 16px;
        transform: translateY(-6px) rotate(45deg);
        width: 35%;
    }
}

.l-header__scrolldown {
    position: absolute;
    bottom: 10px;
    left: 50%;

    span {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: #eee;
        font-size: rem(11);
        letter-spacing: 0.05em;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #eee;
        animation:
            circlemove 1.6s ease-in-out infinite,
            cirlemovehide 1.6s ease-out infinite;
    }

    @keyframes circlemove {
        0% {
            bottom: 45px;
        }
        100% {
            bottom: -5px;
        }
    }

    @keyframes cirlemovehide {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        80% {
            opacity: 0.9;
        }
        100% {
            opacity: 0;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 50px;
        background: #eee;
    }
}

.l-header__nav {
    background-color: var(--pink);
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100vh;
    z-index: 3;
    transition: all 0.4s;
}

.l-header__nav-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(100%, 260px);
}

.l-header__nav-title {
    font-size: rem(32);
    color: #ffffff;
    text-align: center;
    font-family: $font-family-parisienne;
}

.l-header__nav-list {
    margin-top: 20px;
}

.l-header__nav-list-item-link {
    padding: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}