@use "../Global/" as *;

.p-sample__header {
    position: relative;
}

.p-sample__header-image {
    position: relative;

    img {
        width: 100%;
    }
}

.p-sample__header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.p-sample__header-title-sub {
    font-size: rem(25);
    color: #ffffff;
    text-align: center;
}

.p-sample__header-title-main {
    font-size: rem(115);
    color: #ffffff;
    font-family: $font-family-parisienne;
    font-weight: 400;
    text-align: center;
}

.p-sample__header-button {
    position: fixed;
    top: 47px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 1;

    &::before,
    &::after {
        content: "";
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 14px;
        height: 3px;
        background: #666666;
        transition: all 0.4s;
    }

    &::before {
        top: 22px;
        width: 50%;
    }

    &::after {
        top: 29px;
        width: 30%;
    }
}

.js-sample__header-button-active {
    &::before {
        top: 20px;
        left: 16px;
        transform: translateY(6px) rotate(-45deg);
        width: 35%;
    }

    &::after {
        top: 32px;
        left: 16px;
        transform: translateY(-6px) rotate(45deg);
        width: 35%;
    }
}

.p-sample__header-scrolldown {
    position: absolute;
    bottom: 10px;
    left: 50%;

    span {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: #eee;
        font-size: rem(11);
        letter-spacing: 0.05em;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #eee;
        animation:
            circlemove 1.6s ease-in-out infinite,
            cirlemovehide 1.6s ease-out infinite;
    }

    @keyframes circlemove {
        0% {
            bottom: 45px;
        }
        100% {
            bottom: -5px;
        }
    }

    @keyframes cirlemovehide {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        80% {
            opacity: 0.9;
        }
        100% {
            opacity: 0;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 50px;
        background: #eee;
    }
}

.p-sample__header-nav {
    background-color: var(--pink);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;

    // 開閉処理入れ次第、削除
    display: none;
}

.js-sample__header-nav-active {
    display: block;
}

.p-sample__header-nav-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(100%, 260px);
}

.p-sample__header-nav-title {
    font-size: rem(32);
    color: #ffffff;
    text-align: center;
    font-family: $font-family-parisienne;
}

.p-sample__header-nav-list {
    margin-top: 20px;
}

.p-sample__header-nav-list-item-link {
    padding: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-sample__footer {
    display: flex;
    justify-content: space-between;
    padding: 68px 77px;
}

.p-sample__footer-title-sub {
    font-size: rem(13);
    text-align: center;
}

.p-sample__footer-title-main {
    font-size: rem(32);
    font-family: $font-family-parisienne;
    font-weight: 400;
    margin-top: 12px;
}

.p-sample__footer-menu {
    padding-top: 45px;
}

.p-sample__footer-menu-list {
    display: flex;
    gap: 20px;
}

.p-sample__footer-menu-list-item-link {
    font-size: rem(13);
}

.p-sample__footer-menu-copyright {
    font-size: rem(13);
    text-align: right;
    margin-top: 75px;
}

.p-sample__about {
    padding: 140px 0 70px;
}

.p-sample__about-content {
    display: flex;
    gap: 30px;
}

.p-sample__about-content-image {
    width: min(100%, 818px);
    img {
        width: 100%;
    }
}

.p-sample__about-content-info {
    margin: 0 auto;
}

.p-sample__about-content-info-title {
    font-size: rem(22);
    text-align: center;
    line-height: 2;
}

.p-sample__about-content-info-text {
    text-align: center;
    margin-top: 35px;
    line-height: 2;
}

.p-sample__about-content-info-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #cccccc;
    width: fit-content;
    padding: 10px 32px;
    margin: 135px auto 0;
}

.p-sample__menu {
    padding: 70px 0;
}

.p-sample__menu-swiper {
    margin-top: 50px;

    .swiper-pagination-bullet-active {
        background-color: var(--pink);
    }
}

.p-sample__menu-title {
    font-size: rem(64);
    text-align: center;
    font-family: $font-family-parisienne;
    font-weight: 400;
    color: var(--pink);
}

.p-sample__menu-swiper-image {
    img {
        width: 100%;
    }
}

.p-sample__menu-swiper-content {
    padding: 20px;
    background-color: var(--white);
}

.p-sample__menu-swiper-title {
    font-size: rem(14);
}

.p-sample__menu-swiper-price {
    font-size: rem(12);
    margin-top: 7px;
}

.p-sample__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #cccccc;
    padding: 10px 32px;
    margin: 100px auto 0;
    width: fit-content;
}