@use "../Global/" as *;


input {
  display: none;
}

label {
  position: relative;
  float: right;
  clear: both;
  z-index: 1000;
  cursor: pointer;
}

span {
  display: inline-block;
  width: 40px;
  height: 25px;

  i {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #666;
    display: block;
    transition: all .3s ease-in-out;

    &:first-of-type {
      top:22px;	
      width: 50%;
    }

    &:last-of-type {
      top:29px;
      width:30%;
    }
  }
}

input:checked + label {
  span i {
    &:first-of-type {
      top: 20px;
      transform: translateY(6px) rotate(-45deg);
      width: 35%;
    }

    &:last-of-type {
    top: 32px;
    transform: translateY(-6px) rotate(45deg);
    width: 35%;
    }
  }

  + .p-global-nav {
    position: fixed;
    z-index: 99;
    opacity: 1;
  }
}

input:checked + label + .p-global-nav > .p-global-nav__wrap {
  right: 0;
}

.p-global-nav {
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity .3s ease-in-out,z-index .3s ease-in-out;
  background-color: var(--pink);

  &__wrap {
    width: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    bottom: 0;
    transition: right .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.active {
      right: 0;
    }
  }

  &__logo{
    font-family: $font-family-parisienne;
    font-size: 2rem;
    color: var(--white);
    text-shadow: 0 0 3px var(--white);
  }

  &__item{
    text-align: center;
  }

  &__link {
    font-size: 1.2rem;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
  
    &:hover {
      opacity: 0.5;
      transition: .5s;
    }
  }
}

