@use "../Global/" as *;
/* ページネーションのスタイル */
.your-class-page {
  height: 10px;
  transition: .5s all;
  width: 10px;
}
/* 現在表示されているページネーションのスタイル */
.your-class-page.is-active {
  background-color: var(--pink);
  opacity: 1;
}
/* ページネーションの位置 */
.your-class-pagination {
  bottom: 1.5em;
}
/* ページネーション間の余白 */
.your-class-pagination .p-section__item {
  margin-left: 4px;
  margin-right: 4px;
}

.splide{
  width: 90%;
  margin: 0 auto;
}
/* スライドのサイズ調整 */
.splide__slide img {
  height: auto;
  width: 100%;
}

.splide__pagination{
  position: relative;
  top:20px;

  @include MQ("md") {
    top: 30px;
}
}
.splide__arrow--prev{
  left: -3em;

  @include MQ("md") {
    left: -2em;
    top: 10em;
}
}
.splide__arrow--next{
  right: -3em;

  @include MQ("md") {
    right: -2em;
    top: 10em;
}
}

.splide__arrow{
  background: none;
}

/*====================================================================
Normal → Circle
====================================================================*/
.p-section__box {
  position: relative;
  cursor: pointer;
}
.p-section__box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  width: 0;
  height: 0;
  background: rgba(255,255,255,.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.p-section__box:hover::before {
  animation: circle .75s;
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}