@charset "utf-8";

/*************
footer*******/

.l-footer {
    margin: 40px 0 0;
    padding-top:70px;
    padding-bottom: 70px;
    border-top: 1px solid #CCCCCC;
}

.l-footer h1 {
    font-size: 32px;
}

@media screen and (max-width:768px) {
    .l-footer h1 {
        font-size: 32px;
    }
}

.l-footer__inner {
    width: 90%;
    margin: auto;
}

.l-footer__top {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .l-footer__top {
        display: block;
    }
}

.l-footer__inner--logo-subtitle {
    font-size: 13px;
}

@media screen and (max-width:768px) {
    .l-footer__inner--logo-subtitle {
        text-align: center;
    }
}

.l-footer__inner--logo-title {
    color: #555555;
    margin: 10px auto;
    font-size: 32px;
    text-align: center;
    font-family: "Parisienne",serif;
}

.l-footer__inner--nav {
    display: flex;
    font-size: 13px;
}

@media screen and (max-width:768px) {
    .l-footer__inner--nav {
        flex-wrap: wrap;
        justify-content: center;
        width: 69%;
        padding-left: 0;
        margin: 10px auto;
    }
}

.l-footer__inner--nav li {
    margin: 20px;
}

@media screen and (max-width:768px) {
    .l-footer__inner--nav li {
        height: 5px;
    }
}

.l-footer__inner--nav li a {
    text-decoration: none;
    color: #555555;
}

.l-footer__copyright {
    text-align: right;
    font-size: 13px;
}

@media screen and (max-width:768px) {
    .l-footer__copyright {
        text-align: center;
        padding-top: 15px;
    }
}
